.body{
  background-image: url("./stash.png");
  opacity: 0.95;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 65px repeat(2, 2fr);
  grid-template-areas: "topbar topbar" "left-top right-top" "left-bottom right-bottom";
  height: 97vh;
}

.topbar{
  position: relative;
  grid-area: topbar;
  display: grid;
  grid-template-columns: 5fr 2fr 1fr;
  grid-template-areas: "CA debug about"
}

.CA {
  position: relative;
  grid-area: CA;
  display: grid;
  padding: 5px;
  grid-template-columns: 150px 40px 10px 250px;
  grid-template-areas: "calabel cabutton space cainput";
  grid-template-rows: auto;
  border: 5px ridge  grey;
}
.cabutton{
  position: absolute;
  grid-area: cabutton;
  justify-self: center;
  align-items: center;
  width: 30px;
  height: 30px;
}
.cainput{
  position: absolute;
  grid-area: cainput;
  justify-self: start;  
  align-items: center;
  opacity: 0.8;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100px;
  height: 30px;
}
.calabel{
  position: relative;
  grid-area: calabel;
  justify-self: center;  
  align-items: center;
  color: white;
  background-color: black;
  font-size: 30px;
  height: 35px;
}
.CA .tooltiptext {
  visibility: hidden;
  width: 120px;
  top: 100%;
  left: 10%;
  margin-left: -60px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1;
}
.CA:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.CA .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}

.debug{
  position: relative;
  grid-area: debug;
  padding: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "label checkbox";
  border: 5px ridge  grey;
}
.debugLabel{
  grid-area: label;
  justify-self: center;
  color: white;
  background-color: black;
  font-size: 30px;
  height: 35px;
}
.debugCheckbox{
  grid-area: checkbox;
  justify-self: center;
  width: 30px;
  height: 30px;
}
.debug .tooltiptext {
  visibility: hidden;
  width: 100px;
  top: -5px;
  right: 105%; 
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1;
}
.debug:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.debug .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.aboutDiv{
  position: relative;
  display: grid;
  grid-area: about;
  border: 5px ridge  grey;
}
.aboutButton{
  position: relative;
  justify-self: center;
  width: 35px;
  height: 35px;
  margin: 7px;
  color: red;
  background-color: black;
  opacity: 0.9;
  border: 1px solid red;
  border-radius: 12px;
  font-size: 30px;
  box-shadow: 0 4px #999;
}
.aboutDiv .aboutTooltip{
  visibility: hidden;
  top: 5px;
  right: 110%; 
  height: 20px;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1;
}
.aboutDiv:hover .aboutTooltip{
  visibility: visible;
  opacity: 1;
}
.aboutDiv .aboutTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}
.aboutButton:active{
  border: 1px solid green;
  color: green;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.stand{
  position: relative;
  display: grid;
  grid-area: left-top;
  grid-template-rows: 50px 3fr 1fr;
  grid-template-columns: 1fr 40px;
  grid-template-areas: "space StandardReset" "stashlabelsstand stashlabelsstand" "stashinputsstand stashinputsstand";
  border: 5px ridge  grey;
}
.stashlabelsstand{
  grid-area: stashlabelsstand;  
  justify-self: center;
  color: white;
  background-color: black;
  font-size: 30px;
  height: 35px;
}
.stashinputsstand{  
  grid-area: stashinputsstand;
  justify-self: center;
  opacity: 0.8;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100px;
  height: 30px;
}
.resetDivStand{  
  position: relative;
  grid-area: StandardReset;
  width: 40px;
  height: 40px;
  justify-self: center;
}
.StandardReset{  
  position: relative;
  grid-area: StandardReset;
  width: 35px;
  height: 35px;
  color: red;
  background-color: black;
  opacity: 0.9;
  border: 1px solid red;
  border-radius: 12px;
  font-size: 30px;
  justify-self: center;
  box-shadow: 0 4px #999;
}
.StandardReset:active{
  border: 1px solid green;
  color: green;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.stand .tooltiptext {
  visibility: hidden;
  width: 100%;
  top: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1;
}
.stand:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.stand .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.stand .resetDivStand .resetTooltip {
  visibility: hidden;
  top: 5px;
  right: 110%; 
  height: 20px;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1;
}
.stand .resetDivStand:hover .resetTooltip {
  visibility: visible;
  opacity: 1;
}
.stand .resetDivStand .resetTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.LB{
  position: relative;
  display: grid;
  grid-area: right-top;
  grid-template-rows: 50px 3fr 1fr;
  grid-template-columns: 1fr 40px;
  grid-template-areas: "space LeftBehindReset" "stashlabelsLB stashlabelsLB" "stashinputsLB stashinputsLB";
  border: 5px ridge  grey;
}
.stashlabelsLB{
  grid-area: stashlabelsLB;
  justify-self: center;
  color: white;
  background-color: black;
  font-size: 30px;
  height: 35px;
}
.stashinputsLB{  
  grid-area: stashinputsLB;
  justify-self: center;
  opacity: 0.8;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100px;
  height: 30px;
}
.resetDivLB{  
  position: relative;
  grid-area: LeftBehindReset;
  width: 40px;
  height: 40px;
  justify-self: center;
}
.LeftBehindReset{
  position: relative;
  grid-area: LeftBehindReset;
  width: 35px;
  height: 35px;
  color: red;
  justify-self: center;
  background-color: black;
  opacity: 0.9;
  border: 1px solid red;
  border-radius: 12px;
  font-size: 30px;
  box-shadow: 0 4px #999;
}
.LeftBehindReset:active{
  border: 1px solid green;
  color: green;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.LB .tooltiptext {
  visibility: hidden;
  width: 100%;
  top: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1;
}
.LB:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.LB .tooltiptext::after {
  content: " ";
  position: absolute;
  bottom: 100%;  /* At the top of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent black transparent;
}
.LB .resetDivLB .resetTooltip {
  visibility: hidden;
  top: 5px;
  right: 110%; 
  height: 20px;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1;
}
.LB .resetDivLB:hover .resetTooltip {
  visibility: visible;
  opacity: 1;
}
.LB .resetDivLB .resetTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.PFE{
  position: relative;
  display: grid;
  grid-area: left-bottom;
  grid-template-rows: 50px 3fr 1fr;
  grid-template-columns: 1fr 40px;
  grid-template-areas: "space PrepareForEscapeReset" "stashlabelsPFE stashlabelsPFE" "stashinputsPFE stashinputsPFE";
  border: 5px ridge  grey;
}
.stashlabelsPFE{
  grid-area: stashlabelsPFE;
  justify-self: center;
  color: white;
  background-color: black;
  font-size: 30px;
  height: 35px;
}
.stashinputsPFE{  
  grid-area: stashinputsPFE;
  justify-self: center;
  opacity: 0.8;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100px;
  height: 30px;
}
.resetDivPFE{  
  position: relative;
  grid-area: PrepareForEscapeReset;
  width: 40px;
  height: 40px;
  justify-self: center;
}
.PrepareForEscapeReset{
  grid-area: PrepareForEscapeReset;
  width: 35px;
  height: 35px;
  color: red;
  justify-self: center;
  background-color: black;
  border: 1px solid red;
  opacity: 0.9;
  border-radius: 12px;
  font-size: 30px;
  box-shadow: 0 4px #999;
}
.PrepareForEscapeReset:active{
  border: 1px solid green;
  color: green;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.PFE .tooltiptext {
  visibility: hidden;
  width: 100%;
  bottom: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1;
}
.PFE:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.PFE .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.PFE .resetDivPFE .resetTooltip {
  visibility: hidden;
  top: 5px;
  right: 110%; 
  height: 20px;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1;
}
.PFE .resetDivPFE:hover .resetTooltip {
  visibility: visible;
  opacity: 1;
}
.PFE .resetDivPFE .resetTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

.EOD{
  position: relative;
  display: grid;
  grid-area: right-bottom;
  grid-template-rows: 50px 3fr 1fr;
  grid-template-columns: 1fr 40px;
  grid-template-areas: "space EdgeOfDarknessReset" "stashlabelsEOD stashlabelsEOD" "stashinputsEOD stashinputsEOD";
  border: 5px ridge  grey;
}
.stashlabelsEOD{
  grid-area: stashlabelsEOD;
  justify-self: center;
  color: white;
  background-color: black;
  font-size: 30px;
  height: 35px;
}
.stashinputsEOD{  
  grid-area: stashinputsEOD;
  justify-self: center;
  opacity: 0.8;
  background-color: black;
  color: white;
  font-size: 20px;
  width: 100px;
  height: 30px;
}
.resetDivEOD{  
  position: relative;
  grid-area: EdgeOfDarknessReset;
  width: 40px;
  height: 40px;
  justify-self: center;
}
.EdgeOfDarknessReset{
  grid-area: EdgeOfDarknessReset;
  width: 35px;
  height: 35px;
  color: red;
  justify-self: center;
  background-color: black;
  border: 1px solid red;
  opacity: 0.9;
  border-radius: 12px;
  font-size: 30px;
  box-shadow: 0 4px #999;
}
.EdgeOfDarknessReset:active{
  border: 1px solid green;
  color: green;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
.EOD .tooltiptext {
  visibility: hidden;
  width: 100%;
  bottom: 100%;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1;
}
.EOD:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
.EOD .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; /* At the bottom of the tooltip */
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}
.EOD .resetDivEOD .resetTooltip {
  visibility: hidden;
  top: 5px;
  right: 110%; 
  height: 20px;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  z-index: 1;
}
.EOD .resetDivEOD:hover .resetTooltip {
  visibility: visible;
  opacity: 1;
}
.EOD .resetDivEOD .resetTooltip::after {
  content: " ";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-top: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent black;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 